body {
    min-width: 992px !important;
    font-family: arial,sans-serif;
    font-size: small;
  }

.text-center {
  text-align: center !important;
}




/*input box*/
.div1{
	position:relative;
	margin:0 auto;
	padding-left:12px;
	padding-top:6px;
	width:484px;
}

.div2{
	background:#fff;
	display:flex;
	border-radius:2px;
	border:none;
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
	z-index:3;
	height:44px;
	margin:0 auto;
	width:484px;
}
.div2:hover{
	box-shadow:0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08)
}

.div3{
	flex:1;
	display:flex;
	padding:5px 8px 0 16px;
}

.gsfi {
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
}

.gLFyf{
	background-color:transparent;
	border:none;
	margin:0;
	padding:0;
	color:rgba(0,0,0,.87);
	word-wrap:break-word;
	outline:none;
	display:flex;
	flex:100%;
	-webkit-tap-highlight-color:transparent;
	/*margin-top:-37px*/
}

.textboxDiv{
	display:flex;
	flex:1;
	flex-wrap:wrap;
}
 
.searchBtnDiv{
	display:flex;
	flex:0 0 auto;
	margin-top:-5px;
	align-items:stretch;
	flex-direction:row
}


.voice_search_button{
	flex:1 0 auto;
	display:flex;
	cursor:pointer;
	align-items:center;
	border:0;
	background:transparent;
	outline:none;
	padding:0 8px;
	width:24px;
	line-height:44px
}

.searchBtnSpan{
	background:url('http://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png') 0 0 no-repeat;
	height:24px;
	width:24px;
	background-size:24px;
	vertical-align:middle
}




/*input buttons*/

input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

input:not(:placeholder-shown) {

}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}


input[type="button" i], input[type="submit" i], input[type="reset" i] {
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
}


input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, 
button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

.btns-container input[type="submit"]{
	height: 36px;
	line-height: 27px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

/* hover */
.btns-container input[type="submit"]:hover {
	background-image:-webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
	background-image:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
	background-color:#f8f8f8;
	background-image:linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image:-o-linear-gradient(top,#f8f8f8,#f1f1f1);
	border:1px solid #c6c6c6;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	color:#222;
}

.btns-container input[type="submit"]:focus {
	border:1px solid #4d90fe;
	outline:none;
}


/* anchor */
a{
	color:#1a0dab;
	text-decoration:none
}

a:hover,a:active{
	text-decoration:underline
}

a:visited{
	color:#609
}



/* Top bar */

#gb{
	font-size:13px;
	position:relative;
	top:8px
}
div#searchform{
	min-width:980px;
	z-index:103
}
div.sfbg,div.sfbgg{
	min-width:980px;
	height:64px
}
.sfbgx{

	background-color:#fafafa;
	border-bottom:1px solid #ebebeb;
	height:85px;position:absolute;
	width:100%;
	min-width:980px
}
.hp .sfbgx{
	display:none
}
.big form#tsf,form#tsf{
	width:auto;
	max-width:784px;
	overflow:hidden
}
#searchform.big>#tsf{
	max-width:784px
}
.big div.tsf-p,form>div.tsf-p{
	margin:-1px 0 0;
	padding-right:0
}
div#viewport{
	position:absolute;
	top:0;
	width:100%
}
div#searchform.jhp{
	margin-top:0
}

#searchform.big.jhp>#tsf{
	max-width:none

}


#gb{
	position:absolute;
	top:-295px;
	right:0;
	width:100%
}


#tsf{

	max-width:none

}

/* Footer */

.fmulti{}.loc{}.swml-src{}.swml-upd{}.swml-loc{}.GNlFYb{color:#5f6368}
.p2Kmnc{color:#222;font-size:14px;font-weight:normal;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.Seo5Sb{display:inline-block;opacity:0.55;vertical-align:top}
a.p2Kmnc:hover .Seo5Sb,a.p2Kmnc:active .Seo5Sb{opacity:1.0}
.GNlFYb{margin:40px 0}
.TfEe9d{margin-right:10px}
.EvHmz{bottom:0;left:0;position:absolute;right:0}
.M6hT6{background:#f2f2f2;left:0;right:0;-webkit-text-size-adjust:none}
.hRvfYe #fsettl:hover{text-decoration:underline}
.hRvfYe #fsett a:hover{text-decoration:underline}
.hRvfYe a:hover{text-decoration:underline}
.fbar p{display:inline}
.fbar a,#fsettl{text-decoration:none;white-space:nowrap}
.fbar{margin-left:-27px}
.Fx4vi{padding-left:27px;margin:0 !important}
.In26Ec{padding:0 !important;margin:0 !important}
#fbarcnt{display:block}
.smiUbb img{margin-right:4px}
.smiUbb a,.M6hT6 #swml a{text-decoration:none}
.fmulti{text-align:center}
.fmulti #fsr{display:block;float:none}
.fmulti #fuser{display:block;float:none}
#fuserm{line-height:25px}
#fsr{float:right;white-space:nowrap}
#fsl{white-space:nowrap}
#fsett{background:#fff;border:1px solid #999;bottom:30px;padding:10px 0;position:absolute;box-shadow:0 2px 4px rgba(0,0,0,0.2);box-shadow:0 2px 4px rgba(0,0,0,0.2);text-align:left;z-index:104}
#fsett a{display:block;line-height:44px;padding:0 20px;text-decoration:none;white-space:nowrap}
.p2Kmnc{padding:8px 16px;margin-right:10px}
.B4GxFc{margin-left:166px}
#fbar{background:#f2f2f2;border-top:1px solid #e4e4e4;line-height:40px;min-width:980px}
.yBWvle{margin-left:166px}
.fbar p,.fbar a,#fsettl,#fsett a{color:#5f6368}
.fbar a:hover,#fsett a:hover{color:#333}
.fbar{font-size:small}
#fuser{float:right}
.smiUbb{margin-left:166px;line-height:15px;color:#5f6368;}